{% extends 'base.html' %}

{% block title %} Trang chủ {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
    <section class="py-5">
        <section data-aos="zoom-in-up" id="about" class="about" style="background: url('/static/img/about_us/Signlingo.png') center / cover no-repeat, rgba(255,255,255,0);margin-bottom: 1px;padding-top: 148px;padding-bottom: 565px;margin-top: -44px;">
            <div></div>
        </section>
        <section data-aos="zoom-in-down" id="about-2" class="about" style="background: url('/static/img/about_us/Signlingo (3).png') center / contain no-repeat, rgba(255,255,255,0);padding-right: 0px;margin-bottom: 15px;padding-top: 103px;padding-bottom: 559px;margin-top: 0px;">
            <div></div>
        </section>
        <section data-aos="zoom-in-down" id="about-3" class="about" style="background: url('/static/img/about_us/Signlingo (6).png') center / contain no-repeat, rgba(255,255,255,0);padding-right: 0px;margin-bottom: 15px;padding-top: 103px;padding-bottom: 559px;margin-top: 2px;">
            <div></div>
        </section>
        <section data-aos="zoom-in-down" id="about-1" class="about" style="background: url('/static/img/about_us/Signlingo (5).png') center / contain no-repeat, rgba(255,255,255,0);padding-right: 0px;margin-bottom: 15px;padding-top: 103px;padding-bottom: 559px;margin-top: 2px;">
            <div></div>
        </section><!-- Start: Contact Details -->
        <section class="py-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2"></p>
                        <h2 class="fw-bold" style="font-family: Merriweather, serif;color: rgb(0,74,173);font-weight: bold;">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post" data-bs-theme="light">
                                <!-- Start: Success Example -->
                                <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name"></div><!-- End: Success Example -->
                                <!-- Start: Error Example -->
                                <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div><!-- End: Error Example -->
                                <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="1" placeholder="Message"></textarea></div>
                                <div><button class="btn btn-primary shadow d-block w-100" type="submit" style="font-family: Lora, serif;font-weight: bold;">Send </button></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                        <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100">
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0" style="font-family: Lora, serif;">Phone</h6>
                                    <p class="text-muted mb-0" style="font-family: Lora, serif;">+123456789</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0" style="font-family: Lora, serif;">Email</h6>
                                    <p class="text-muted mb-0" style="font-family: Lora, serif;">signlingo.co@gmail.com</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0" style="font-family: Lora, serif;">Facebook</h6>
                                    <p class="text-muted mb-0" style="font-family: Lora, serif;">facebook.com/abcxyz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: Contact Details -->
    </section><!-- End: Contact Details -->
{% endblock %}