<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Leaderboard</title>
    <link href="/bootstrap/css/bootstrap.min.css?h=d2583ee8ec2f1044947cb8b625ef9c8d" rel="stylesheet">
    <link href="/css/styles.min.css?h=3abf4a004f5198df9919c9d0d0e785ef" rel="stylesheet">

    <!--  Bootstrap icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!--  Boxicon  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>
<body>
<main class="main" id="main" style="background: #bfd1e5;">
    <div class="pagetitle"><h1 style="font-family: Merriweather, serif;">Bảng xếp hạng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item">Khóa học</li>
                <li class="breadcrumb-item active">Bảng xếp hạng</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body"><h5 class="card-title"></h5>
                                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                                    <li class="nav-item flex-fill" role="presentation">
                                        <button aria-controls="home" aria-selected="true" class="active nav-link w-100"
                                                data-bs-target="#home-justified" data-bs-toggle="tab" id="home-tab"
                                                role="tab" type="button">Tuần
                                        </button>
                                    </li>
                                    <li class="nav-item flex-fill" role="presentation">
                                        <button aria-controls="profile" aria-selected="false" class="nav-link w-100"
                                                data-bs-target="#profile-justified" data-bs-toggle="tab" id="profile-tab"
                                                role="tab" type="button">Tháng
                                        </button>
                                    </li>
                                    <li class="nav-item flex-fill" role="presentation">
                                        <button aria-controls="contact" aria-selected="false" class="nav-link w-100"
                                                data-bs-target="#contact-justified" data-bs-toggle="tab" id="contact-tab"
                                                role="tab" type="button">Từ đầu
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content pt-2" id="myTabjustifiedContent">
                                    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home-justified"
                                         role="tabpanel">
                                        <div style="text-align: center;font-family: Lora, serif;">
                                            <table class="table datatable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Tên</th>
                                                    <th scope="col">Số điểm</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>A</td>
                                                    <td>5</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">2</td>
                                                    <td>B</td>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">3</td>
                                                    <td>C</td>
                                                    <td>3</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">4</td>
                                                    <td>D</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr style="color: var(--bs-table-border-color);background: #f7adad;">
                                                    <td scope="row">5</td>
                                                    <td>E</td>
                                                    <td>1</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile-justified"
                                         role="tabpanel"><span>                  Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.                </span>
                                    </div>
                                    <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact-justified"
                                         role="tabpanel"><span>                  Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<a class="d-flex justify-content-center align-items-center back-to-top" href="#"><i
        class="bi bi-arrow-up-short"></i></a>
<header class="d-flex align-items-center header fixed-top" id="header-1">
    <div class="d-flex justify-content-between align-items-center" style="margin-right: 4px;"><a
            class="navbar-brand d-flex align-items-center" href="{{ url_for('home_page') }}"
            style="padding-top: 0px;padding-bottom: 0px;margin-top: -3px;padding-right: 0px;padding-left: 0px;margin-left: 64px;margin-right: 49px;"><img
            src="/img/logo1.png?h=61566924055f27c17ee23343a9bc7c04" style="width: 60px;"><span
            style="font-family: Inter, sans-serif;font-weight: bold;">Signlingo</span></a><i
            class="bi bi-list toggle-sidebar-btn"></i></div>
    <div class="search-bar">
        <form action="#" class="d-flex align-items-center search-form" method="POST"><input name="query" placeholder="Search"
                                                                                            title="Enter search keyword"
                                                                                            type="text">
            <button title="Search" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <nav class="ms-auto header-nav">
        <ul class="d-flex align-items-center">
            <li class="d-block d-lg-none nav-item"><a class="nav-link nav-icon search-bar-toggle" href="#"><i
                    class="bi bi-search"></i></a></li>
        </ul>
    </nav><!-- Start: Navbar Centered Links -->
    <nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light" id="mainNav"
         style="height: 71px;margin-top: -1px;padding-bottom: 32px;padding-top: 2px;margin-bottom: 0px;">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-2" style="padding-bottom: 0px;margin-bottom: -1px;">
                <ul class="navbar-nav mx-auto" style="font-family: Inter, sans-serif;font-size: 15px;">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('course_page') }}">Khóa học</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('library_page') }}">Thư viện</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('faq_page') }}">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contribution_page') }}"
                                            style="font-family: Inter, sans-serif;">Đóng góp</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}">Về chúng tôi</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navbar Centered Links -->
    <button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span
            class="navbar-toggler-icon"></span></button>
</header>
<footer id="footer" style="margin-left: -1px;margin-bottom: 3px;padding-bottom: 0px;">
    <div class="footer-top" style="font-family: Inter, sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 footer-contact"><a
                        class="navbar-brand d-flex align-items-center justify-content-xl-center" href="{{ url_for('home_page') }}"
                        style="padding-top: 0px;margin-top: 38px;width: 261px;"><img
                        src="/img/logo1.png" style="width: 60px;"><span
                        style="font-weight: bold;">Signlingo</span></a>
                    <p style="text-align: center;"><br><strong>Số điện thoại:</strong>
                        0123456789<br><strong>Email:</strong> info@example.com<br></p></div>
                <div class="col-md-6 col-lg-3 footer-links"><h4></h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('home_page') }}">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('about_page') }}">Về chúng tôi</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('faq_page') }}">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 footer-links"><h4></h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('course_page') }}">Khóa học</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('library_page') }}">Thư viện</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ url_for('contribution_page') }}">Đóng góp</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 footer-links"><h4>Kết nối với chúng tôi</h4>
                    <p></p>
                    <div class="social-links mt-3"><a class="twitter" href="#"><i class="bx bxl-twitter"></i></a><a
                            class="facebook" href="#"><i class="bx bxl-facebook"></i></a><a class="instagram"
                                                                                            href="#"><i
                            class="bx bxl-instagram"></i></a><a class="google-plus" href="#"><i
                            class="bx bxl-skype"></i></a><a class="linkedin" href="#"><i
                            class="bx bxl-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright"><span>        © Copyright </span><strong><span>Signlingo</span></strong><span>. All Rights Reserved      </span>
        </div>
        <div class="credits"><a href="https://bootstrapmade.com/"></a></div>
    </div>
</footer>
<aside class="sidebar" id="sidebar-1">
    <ul class="sidebar-nav" id="sidebar-nav-1">
        <li class="nav-item"><a class="nav-link collapsed" href="{{ url_for('course_page') }}"><i
                class="bi bi-grid"></i><span>Khóa học</span></a></li>
        <li class="nav-item"><a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"
                                href="#"><i class="bi bi-menu-button-wide"></i><span>Ngôn ngữ</span><i
                class="ms-auto bi bi-chevron-down"></i></a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="components-nav">
                <li><i class="bi bi-circle"></i><span>Tiếng Việt</span></li>
                <li><i class="bi bi-circle"></i><span>Tiếng Anh</span></li>
                <li><i class="bi bi-circle"></i><span>Tiếng Nhật</span></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('ranking_page') }}"><span><i class="bi bi-layout-text-window-reverse"></i>Bảng xếp hạng</span></a>
        </li>
        <li class="nav-item"><a class="nav-link collapsed" href="{{ url_for('chart_page') }}"><span><i class="bi bi-bar-chart"></i>Thống kê</span></a>
        </li>
        <li class="nav-item"><a class="nav-link collapsed" href="{{ url_for('camera_page') }}">
            <svg class="bi bi-camera" fill="currentColor" height="1em" style="padding-right: 0px;margin-right: 10px;" viewBox="0 0 16 16"
                 width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"></path>
                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path>
            </svg>
            <span>Kiểm tra ký hiệu</span></a></li>
        <li class="nav-heading">Khác</li>
        <li class="nav-item"><a class="nav-link collapsed" href="{{ url_for('user_page') }}"><i class="bi bi-person"></i><span>Hồ sơ</span></a>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link collapsed" href="{{ url_for('login_page') }}"><i
                class="bi bi-box-arrow-in-right"></i><span>Đăng nhập</span></a></li>
    </ul>
</aside>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.min.js?h=f2c81ca963f0843145e32c04e39fa876"></script>
</body>
</html>