{% extends 'base_course.html' %}

{% block title %} Bảng xếp hạng {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<main class="main" id="main">
    <div class="pagetitle"><h1 style="font-family: Merriweather, serif;">Thống kê dữ liệu học tập</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item">Khóa học</li>
                <li class="breadcrumb-item active">Thống kê</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body"><h5 class="card-title">Số giờ đã học</h5>
                        <div class="echart" id="lineChart" style="min-height:400px;"></div>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#lineChart")).setOption({
                                    xAxis: {
                                        type: 'category',
                                        data: ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN']
                                    },
                                    yAxis: {
                                        type: 'value'
                                    },
                                    series: [{
                                        data: [1, 2, 4, 2, 1, 5, 3],
                                        type: 'line',
                                        smooth: true
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body"><h5 class="card-title">Số chữ đã học</h5>
                        <div class="echart" id="barChart" style="min-height:400px;"></div>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#barChart")).setOption({
                                    xAxis: {
                                        type: 'category',
                                        data: ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN']
                                    },
                                    yAxis: {
                                        type: 'value'
                                    },
                                    series: [{
                                        data: [3, 4, 0, 1, 6, 3, 12],
                                        type: 'bar'
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body"><h5 class="card-title">Lượng chữ đã học theo chủ đề</h5>
                        <div class="echart" id="pieChart" style="min-height:400px;"></div>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#pieChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: '50%',
                                        data: [{
                                            value: 17,
                                            name: 'Công việc'
                                        },
                                            {
                                                value: 23,
                                                name: 'Gia đình'
                                            },
                                            {
                                                value: 10,
                                                name: 'Trái cây'
                                            },
                                            {
                                                value: 23,
                                                name: 'Động vật'
                                            },
                                            {
                                                value: 40,
                                                name: 'Đồ ăn '
                                            }
                                        ],
                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body"><h5 class="card-title">Số lần sai ở các chủ đề</h5>
                        <div class="echart" id="donutChart" style="min-height:400px;"></div>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#donutChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [{
                                            value: 14,
                                            name: 'Công việc'
                                        },
                                            {
                                                value: 5,
                                                name: 'Gia đình'
                                            },
                                            {
                                                value: 21,
                                                name: 'Trái cây'
                                            },
                                            {
                                                value: 7,
                                                name: 'Động vật'
                                            },
                                            {
                                                value: 10,
                                                name: 'Đồ ăn'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}

