{% extends 'base.html' %}

{% block title %} Cộng đồng {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<section class="py-5" style="margin-top: -64px;">
    <div class="container py-4 py-xl-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto"><p class="fw-bold text-success mb-2">Signlingo</p>
            <h3 class="fw-bold" style="font-family: Merriweather, serif;">Cộng đồng trực tuyến&nbsp;</h3></div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="padding-top: 25px;margin-top: 4px;">
            <div class="col">
                <div>
                    <img class="rounded img-fluid d-block w-100 fit-cover" src="/static/img/communities/PARD.png"
                          style="height: 200px;">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">PARD
                        Vietnam</h4>
                        <p style="font-family: Lora, serif;">Trung tâm vì người điếc (PARD) hướng đến một xã hội hòa
                            nhập, nơi mà người điếc có sự tiếp cận đầy đủ với ngôn ngữ ký hiệu và sự bình đẳng khi tham
                            gia các hoạt động xã hội.</p></div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary"
                           href="https://www.facebook.com/pardvietnam"
                           role="button"
                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;margin-right: 6px;">Facebook</a>
                        <a class="btn btn-primary" href="https://pardvietnam.com/" role="button"
                            style="background: #348ddb;border-radius: 10px;">Website</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover"
                          height="200"
                          src="/static/img/communities/HAD.jpg"
                          style="height: 200px;margin-bottom: 4px;padding-bottom: 0px;padding-left: 121px;padding-right: 97px;" width="416">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">Chi Hội Người
                        Điếc Hà Nội - HAD</h4>
                        <p style="font-family: Lora, serif;">Chi hội người điếc Hà Nội - HAD là tổ chức xã hội của người
                            Điếc trên địa bàn thành phố Hà Nội.</p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/hadeaf2000"
                                                           role="button"
                                                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;margin-right: 5px;">Facebook</a><a
                            class="btn btn-primary" href="http://deafhanoi.com/index.html" role="button"
                            style="background: #348ddb;border-radius: 10px;">Website</a></div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover"
                          height="200"
                          src="/static/img/communities/CED.png" style="height: 200px;margin-bottom: 4px;padding-bottom: 0px;padding-right: 83px;padding-left: 132px;"
                          width="416">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">Trung tâm
                        Khiếm thính (CED)</h4>
                        <p style="font-family: Lora, serif;">Trung tâm Nghiên cứu Giáo dục Người Khiếm thính (CED) -
                            Chiếc cầu nối gắn kết người nghe bình thường</p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/CED.Thegioikhiemthinh/"
                                                           role="button"
                                                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;margin-right: 5px;">Facebook</a><a
                            class="btn btn-primary" href="https://ced.org.vn/" role="button"
                            style="background: #348ddb;border-radius: 10px;">Website</a></div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover"
                          height="200"
                          src="/static/img/communities/TTND.png" style="height: 200px;margin-bottom: 4px;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;"
                          width="416">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">Thể thao
                        người điếc Việt Nam</h4>
                        <p style="font-family: Lora, serif;">Trang chia sẻ hoạt động của phong trào thể thao người điếc
                            Việt Nam.</p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/VNDeafSport"
                                                           role="button"
                                                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;margin-right: 5px;">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover"
                          height="200"
                          src="/static/img/communities/NBM.png" style="height: 200px;margin-bottom: 4px;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;"
                          width="416">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">Nghe bằng
                        Mắt</h4>
                        <p style="font-family: Lora, serif;">Mang người Điếc và người nghe tới gần nhau hơn thông qua
                            con đường nghệ thuật.</p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/NghebangMat"
                                                           role="button"
                                                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;margin-right: 5px;">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover" src="/static/img/communities/FINGERESE.jpg"
                          style="height: 200px;">
                    <div class="py-4" style="height: 250px;"><h4 style="font-family: Merriweather, serif;">The
                        Fingerese</h4>
                        <p style="font-family: Lora, serif;">The Fingerese là một dự án phi lợi nhuận được thành lập bởi
                            một nhóm học sinh cấp ba trên địa bàn thành phố Hà Nội, được ấp ủ và thành lập sau khi các
                            bạn đã có những trải nghiệm thực tế, tự mình chứng kiến và thấu hiểu sự khó khăn trong quá
                            trình hòa nhập của Cộng đồng người Điếc với xã hội hiện nay.</p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/thefingerese"
                                                           role="button"
                                                           style="background: rgb(255,255,255);color: var(--bs-btn-border-color);font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover" src="/static/img/communities/Default.png"
                          style="height: 200px;">
                    <div class="py-4" style="height: 250px;"><h4
                            style="font-family: Merriweather, serif;font-size: 22px;">Hội những người yêu thích ngôn ngữ
                        ký hiệu</h4>
                        <p style="font-family: Lora, serif;"><span style="color: rgb(5, 5, 5);">Nhóm được thành lập nhằm tạo sân chơi giao lưu lành mạnh, học hỏi thêm kĩ năng, ngôn ngữ, tìm kiếm cơ hội việc làm cho anh chị em Khiếm Thính,&nbsp;những ai yêu thích đang sử dụng ngôn ngữ ký hiệu và những ai có đam mê và mong muốn được học ngôn ngữ này để giao tiếp.</span>
                        </p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/groups/223775082706706"
                                                           role="button"
                                                           style="background: rgb(52,141,219);color: #ffffff;font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;">Group
                        FB</a></div>
                </div>
            </div>
            <div class="col">
                <div><img class="rounded img-fluid d-block w-100 fit-cover" src="/static/img/communities/Default.png"
                          style="height: 200px;">
                    <div class="py-4" style="height: 250px;"><h4
                            style="font-family: Merriweather, serif;font-size: 22px;">Hội người khiếm thính</h4>
                        <p style="font-family: Lora, serif;"></p></div>
                    <div class="btn-group" role="group"><a class="btn btn-primary" href="https://www.facebook.com/groups/733560506839053"
                                                           role="button"
                                                           style="background: rgb(52,141,219);color: #ffffff;font-family: Lora, serif;font-size: 14px;border-radius: 10px;padding-left: 12px;margin-left: 7px;">Group
                        FB</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}