{% extends 'base.html' %}

{% block title %} FAQ {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<section class="py-5 mt-5" style="padding-top: 0px;margin-top: 0px;">
    <section class="faq section-bg" id="faq" style="background: rgba(230,245,252,0);margin-top: -113px;">
        <div class="container" data-aos="fade-up">
            <div class="section-title"><h2></h2>
                <p style="font-family: Merriweather, serif;font-weight: bold;margin-top: 56px;padding-bottom: 17px;padding-top: 17px;margin-bottom: 26px;">
                    Câu hỏi thường gặp</p></div>
            <ul class="faq-list">
                <li>
                    <div class="collapsed question" data-bs-toggle="collapse" href="#faq1"><span
                            style="font-family: Lora, serif;">Làm sao để biết mình có thực hiện cử chỉ đúng hay không?</span>
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="icon-close bi bi-chevron-up"></i>
                    </div>
                    <div class="collapse" data-bs-parent=".faq-list" id="faq1">
                        <p> Bạn có thể vào mục khoá học và vào phần kiểm tra kí hiệu bạn thực hiện kí hiệu và trang
                            web sẽ trả về kết quả ký hiệu mà nó nhận dạng được từ đó bạn có thể biết được mình làm
                            đúng hay không nè. </p>
                    </div>
                </li>
                <li>
                    <div class="collapsed question" data-bs-toggle="collapse" href="#faq2"><span
                            style="font-family: Lora, serif;">Trí tuệ nhân tạo được ứng dụng vào việc nhận diện như thế nào?</span>
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="icon-close bi bi-chevron-up"></i>
                    </div>
                    <div class="collapse" data-bs-parent=".faq-list" id="faq2">
                        <p> Trong trang web này sử dụng model LSTM được huyến luyện từ toạ độ điểm từ thư viện mediapipe
                            giúp nhận dạng được tạo độ các đốt tay, dáng người và khuôn mặt của bạn, từ đó đưa ra kết quả
                            nhận diện chính xác đó.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsed question" data-bs-toggle="collapse" href="#faq3"><span
                            style="font-family: Lora, serif;">Tôi là người khiếm thính, tôi có thể học ngôn ngữ ký hiệu của nước khác để giao tiếp được không?</span>
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="icon-close bi bi-chevron-up"></i>
                    </div>
                    <div class="collapse" data-bs-parent=".faq-list" id="faq3">
                        <p> Có, người khiếm thính hoàn toàn có thể học ngôn ngữ ký hiệu của nước ngoài để giao tiếp. Ngôn
                            ngữ ký hiệu, còn được gọi là ngôn ngữ cử chỉ, là một hệ thống giao tiếp sử dụng các biểu hiện cử chỉ,
                            hình ảnh và các ký hiệu đặc biệt để truyền đạt ý nghĩa. Một số quốc gia có ngôn ngữ ký hiệu cụ thể cho
                            người khiếm thính, nhưng một số ngôn ngữ ký hiệu cũng có thể được sử dụng ở nhiều quốc gia.
                            Việc học ngôn ngữ ký hiệu của một nước ngoài có thể giúp người khiếm thính giao tiếp với người khiếm
                            thính khác từ khắp nơi trên thế giới. Điều này đặc biệt hữu ích khi họ du lịch hoặc giao tiếp qua
                            với người từ các quốc gia khác đó nha.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsed question" data-bs-toggle="collapse" href="#faq4"><span
                            style="font-family: Lora, serif;">Tôi muốn đóng góp thêm tư liệu, tôi phải làm sao?</span>
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="icon-close bi bi-chevron-up"></i>
                    </div>
                    <div class="collapse" data-bs-parent=".faq-list" id="faq4">
                        <p> Bạn chỉ cần tự quay video của mình làm ngôn ngữ kí hiệu nào bạn muốn và gửi về cho chúng mình.
                            Thông tin chi tiết bạn có thể xem ở trang đóng góp nhé
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsed question" data-bs-toggle="collapse" href="#faq5"><span
                            style="font-family: Lora, serif;">Cách tạo tài khoản học tập?</span>
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="icon-close bi bi-chevron-up"></i>
                    </div>
                    <div class="collapse" data-bs-parent=".faq-list" id="faq5">
                        <p> Bạn vào mục đăng ký ở góc phải phía trên màn hình và nhập vào các trường được yêu cầu.
                            Các bạn nhớ lưu ý nhớ mật khẩu đó nha
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>
{% endblock %}