{% extends 'base_course.html' %}

{% block title %} Khoá học (VN) {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
    <main id="main" class="main" style="background: rgba(214,228,255,0.72);margin-top: -5px;">
        <!-- Start: Navbar With Button -->
        <nav class="navbar navbar-expand-md bg-body py-3" style="background: linear-gradient(#6ea6f3, #6ea6f3), rgb(110,166,243);border-radius: 15px;padding-top: 23px;margin-top: 1px;margin-bottom: 1px;height: 63px;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#" style="padding-left: 2px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-question-circle" style="font-size: 28px;color: rgb(255,255,255);padding-right: 0px;margin-bottom: 0px;padding-bottom: 3px;margin-right: 7px;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
                    </svg><span style="font-family: 'Alfa Slab One', serif;font-size: 23px;color: rgb(255,255,255);text-decoration: underline;">Ôn tập</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="#"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    </ul><a class="btn btn-primary" role="button" style="background: rgba(0,0,0,0);font-family: Raleway, sans-serif;font-size: 33px;font-weight: bold;border-color: rgba(255,255,255,0);color: rgb(255,255,255);padding-left: 4px;margin-top: 6px;padding-right: 0px;margin-right: 10px;" href="{{ url_for('course_page_vn') }}">X</a>
                </div>
            </div>
        </nav><!-- End: Navbar With Button -->
        <div>
            <h1 style="text-align: center;font-size: 19px;font-family: Lora, serif;margin-bottom: 0px;margin-top: 13px;padding-top: 4px;font-weight: bold;">Số câu đúng:&nbsp;0</h1>
        </div>
        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row" style="padding-right: 0px;margin-right: -124px;">
                        <div class="col-12">
                            <div class="card" style="border-radius: 15PX; display: flex; justify-content: center; align-items: center">
                                <div class="card-body" style="border-radius: 15px;">
                                    <iframe src="https://qipedc.moet.gov.vn/videos/W02142B.mp4" allowfullscreen="" frameborder="0" width="560" height="315" style="padding-right: 0px;margin-right: 35px;padding-left: 0px;margin-left: 32px;"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body" style="border-radius: 15px;">
                                    <h4 class="card-title" style="font-family: Lora, serif;">Ngôn ngữ ký hiệu trên thể hiện từ nào sau đây?</h4>
                                    <div class="card color-card" data-color="blue" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 13px;">
                                        <div class="card-body" style="margin-top: 2px;padding-top: 0px;padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-family: Lora, serif;">Màu xanh da trời</h4>
                                        </div>
                                    </div>
                                    <div class="card color-card" data-color="black" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 13px;">
                                        <div class="card-body" style="margin-top: 2px;padding-top: 0px;padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-family: Lora, serif;">Màu đen</h4>
                                        </div>
                                    </div>
                                    <div class="card color-card" data-color="red" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 13px;">
                                        <div class="card-body" style="margin-top: 2px;padding-top: 0px;padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-family: Lora, serif;">Màu dỏ</h4>
                                        </div>
                                    </div>
                                    <div class="card color-card" data-color="brown" style="padding-bottom: 0px;padding-top: 0px;">
                                        <div class="card-body" style="margin-top: 2px;padding-top: 0px;padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-family: Lora, serif;">Màu nâu</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 200px;width: 305px;padding-left: 188px;margin-left: -53px;padding-right: 0px;margin-right: 24px;">
                    <div style="height: 154.4px;">
                        <div class="card d-xxl-flex justify-content-xxl-center" style="border-radius: 15px;box-shadow: 3px 3px 6px rgb(1,43,67);">
                            <div class="card-body" style="background: rgba(54,131,239,0.72);border-radius: 15px;height: 100px;">
                                <div class="d-xl-flex justify-content-xl-end" style="height: 48px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-double-right" style="font-size: 64px;color: rgb(255,255,255);">
                                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                    </svg></div>
                                <h6 class="text-muted card-subtitle mb-2"></h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class="card d-xxl-flex justify-content-xxl-center" style="border-radius: 15px;box-shadow: 3px 3px 6px rgb(1,43,67);padding-left: 0px;margin-left: 0px;">
                            <div class="card-body" style="background: rgb(255,255,255);border-radius: 15px;">
                                <div class="d-xl-flex justify-content-xl-end justify-content-xxl-start" style="text-align: left;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-double-left" style="font-size: 48px;color: #6ea6f3;text-align: left;width: 64px;height: 64px;">
                                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                    </svg></div>
                                <h6 class="text-muted card-subtitle mb-2"></h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<style>
    /* Màu cho nút đã chọn */
    .color-card[data-color="blue"].selected {
        background-color: blue; /* Đổi thành màu xanh khi được chọn */
        color: white; /* Đổi màu chữ nếu cần */
    }

    /* Màu cho các nút còn lại */
    .color-card:not([data-color="blue"]).selected {
        background-color: red; /* Đổi thành màu đỏ khi được chọn */
        color: white; /* Đổi màu chữ nếu cần */
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const colorCards = document.querySelectorAll(".color-card");

        colorCards.forEach(function (card) {
            card.addEventListener("click", function () {
                colorCards.forEach(function (c) {
                    c.classList.remove("selected");
                });
                this.classList.add("selected");
            });
        });
    });
</script>
{% endblock %}