{% extends 'base.html' %}

{% block title %} Reset mật khẩu {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<section class="py-5" style="margin-top: 34px;margin-bottom: 74px;padding-top: 63px;">
    <div class="container py-5" style="margin-bottom: 392px;padding-bottom: 0px;padding-top: 35px;margin-top: -80px;">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2" style="font-family: Lora, serif;">Signlingo</p>
                <h2 class="fw-bold" style="font-family: Merriweather, serif;">Quên mật khẩu</h2>
            </div>
        </div>
    </div>
    <div><!-- Start: Ludens - Register -->
        <div class="container"
             style="position:absolute; left:0; right:0; top: 50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center"
                 style="padding-bottom: 0px;padding-top: 0px;margin-top: -1px;margin-bottom: 82px;">
                <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
                    <div class="p-5">
                        <div class="text-center"></div><!-- Start: Register Form -->
                        <form class="user" method="POST"><!-- Start: Password -->
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user"
                                           id="new_password"
                                           name="new_password"
                                           placeholder="Mật khẩu mới"
                                           required="" style="font-family: Lora, serif;"
                                           type="password">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user"
                                           id="verifyPassword"
                                           placeholder="Nhập lại mật khẩu" required=""
                                           style="font-family: Lora, serif;" type="password">
                                </div>
                            </div><!-- End: Password --><!-- Start: Email Error Message -->
                            <div class="row mb-3" style="margin-bottom: 4px;margin-top: 4px;"><p class="text-danger"
                                                                                                   id="emailErrorMsg"
                                                                                                   style="display:none;">
                                Paragraph</p>
                                <p class="text-danger" id="passwordErrorMsg" style="display:none;">Paragraph</p>
                            </div>
                            <!-- End: Email Error Message -->
                            <button class="btn btn-primary d-block btn-user w-100"
                                    id="submitBtn"
                                    type="submit"
                                    style="font-size: 18px;font-weight: bold;font-family: Lora, serif;margin-bottom: -1px">
                                Đặt lại mật khẩu
                            </button>
                        </form>
                        <!-- End: Register Form -->
                    </div>
                </div>
            </div>
        </div><!-- End: Ludens - Register -->
    </div>
</section>
<script>
    let password = document.getElementById("new_password");
    let verifyPassword = document.getElementById("verifyPassword");
    let submitBtn = document.getElementById("submitBtn");
    let passwordErrorMsg = document.getElementById("passwordErrorMsg");

    function displayErrorMsg(type, msg) {
        if (type == "password") {
            passwordErrorMsg.style.display = "block";
            passwordErrorMsg.innerHTML = msg;
            submitBtn.disabled = true;
        }
    }

    function hideErrorMsg(type) {
        if (type == "password") {
            passwordErrorMsg.style.display = "none";
            passwordErrorMsg.innerHTML = "";
            if (password.value.length >= 8 && password.value === verifyPassword.value) {
                submitBtn.disabled = false;
            }
        }
    }

    function validatePassword() {
        if (password.value !== verifyPassword.value) {
            displayErrorMsg("password", "Mật khẩu không trùng khớp");
        } else if (password.value.length < 8) {
            displayErrorMsg("password", "Mật khẩu phải dài ít nhất 8 kí tự");
        } else {
            hideErrorMsg("password");
        }
    }

    password.addEventListener("input", validatePassword);
    verifyPassword.addEventListener("input", validatePassword);
</script>

{% endblock %}
