{% extends 'base.html' %}

{% block title %} Văn hoá - xã hội {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<section class="py-5" style="margin-top: -64px;">
    <!-- Start: Features Cards -->
    <div class="container py-4 py-xl-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 0px;margin-bottom: 37px;"><p
                class="fw-bold text-success mb-2">Signlingo</p>
            <h3 class="fw-bold" style="font-family: Merriweather, serif;">Văn hóa - Xã hội</h3></div>
        <section class="services section-bg" id="services"
                 style="background: rgb(255,255,255);margin-bottom: 2px;padding-bottom: 0px;">
            <div class="card" style="margin-bottom: 22px;">
                <div class="card-body"
                     style="margin-top: 1px;padding-top: 0px;margin-bottom: -2px;padding-bottom: 1px;"><h4
                        class="card-title" style="font-family: Merriweather, serif;font-weight: bold;">Câu chuyện truyền
                    cảm hứng</h4></div>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row" style="margin-left: -16px;padding-right: 0px;margin-right: -26px;">
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;margin-left: -5px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/TG.jpg"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;margin-top: 14px;padding-bottom: 22px;margin-bottom: -7px;padding-top: 24px;">
                                <a href="https://www.vietnamplus.vn/tiem-giat-la-nguoi-diec-uoc-mo-dep-cua-nhung-co-gai-tre/701462.vnp"
                                   style="font-weight: bold; font-size: 22px;">Tiệm giặt là người Điếc - Ước mơ đẹp của những cô gái trẻ</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Tiệm giặt là "Giặt ký" (hay còn được gọi là Tiệm giặt là người Điếc) là nơi dạy nghề cho
                                người điếc và khiếm thính, giúp họ có thêm sự tự tin, sự tôn trọng và bình đẳng trong xã
                                hội.</p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;margin-left: -5px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/NS.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;margin-top: 14px;padding-bottom: 22px;margin-bottom: -7px;padding-top: 24px;">
                                <a href="https://tuoitre.vn/nu-sinh-diec-nguoi-viet-duoc-goi-la-sieu-sao-20190417150450468.htm"
                                   style="font-weight: bold; font-size: 22px;">Nữ sinh điếc người Việt được gọi là 'siêu sao'</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Nguyễn Trần Thủy Tiên (TP.HCM) là người điếc Việt Nam đầu tiên nhận học bổng toàn phần
                                117.000 USD của Trường ĐH Gallaudet (Washington, Mỹ) và nhận bằng thạc sĩ loại giỏi của
                                trường này năm 2016.</p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/UNICEF.jpg"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 7px;margin-top: 25px;">
                                <a href="https://www.unicef.org/vietnam/vi/nh%E1%BB%AFng-c%C3%A2u-chuy%E1%BB%87n/c%C3%A2u-chuy%E1%BB%87n-%C4%91%E1%BA%A7y-c%E1%BA%A3m-h%E1%BB%A9ng-c%E1%BB%A7a-huy%E1%BB%81n-trang-t%C3%ACnh-nguy%E1%BB%87n-vi%C3%AAn-unicef"
                                   style="font-weight: bold; font-size: 22px;">Câu chuyện của Huyền Trang - Tình nguyện viên UNICEF</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                <span style="color: rgb(51, 51, 51);">Huyền Trang bị đục thủy tinh thể bẩm sinh và luôn sống chung với tình trạng khiếm thị.&nbsp;</span><br><span
                                    style="color: rgb(51, 51, 51);">Công việc của cô tại UNICEF đã giúp cô chia sẻ kinh nghiệm của mình và góp phần thúc đẩy quyền trẻ em cho tất cả trẻ em dễ bị tổn thương trong xã hội, đặc biệt là trẻ khuyết tật.</span>
                            </p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/HK.jpg"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 8px;margin-top: 26px;">
                                <a href="https://voh.com.vn/song-dep/helen-keller-418498.html"
                                   style="font-weight: bold; font-size: 22px;">Helen Keller và câu chuyện cuộc đời nghịch cảnh cùng nghị lực phi thường vượt lên số phận</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                <span style="color: rgb(51, 51, 51);">Helen Adams Keller (27/6/1880 – 1/6/1968) là nữ văn sĩ, diễn dã khiếm thị, khiếm thính nổi tiếng người Mỹ. Keller là tượng đài sống của sự vượt lên số phận, được tạp chí Time xếp vào danh sách 100 nhân vật tiêu biểu của thế kỷ 20.</span>
                            </p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/AH.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 8px;margin-top: 26px;">
                                <a href="https://kenh14.vn/xa-hoi/a-hau-nguoi-diec-xinh-dep-va-khat-khao-ket-noi-voi-the-gioi-ben-ngoai-p142r20151215233208795.chn"
                                   style="font-weight: bold; font-size: 22px;">Á
                                    hậu người điếc xinh đẹp và khát khao kết nối với thế giới bên ngoài</a></h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                <span style="color: rgb(17, 17, 17);">Đối với Á hậu Thúy Đoan, cuộc sống thật sự có ý nghĩa hơn từ sau khi cô và gia đình có thể lắng nghe, sẻ chia những tâm sự cùng nhau và nhất là khi cô được tự tay "ươm mầm" lên thế hệ mới biết yêu thương và sống thật ý nghĩa, trách nhiệm.</span>
                            </p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/LVC.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 8px;margin-top: 26px;">
                                <a href="https://blogs.worldbank.org/vi/eastasiapacific/a-long-journey-with-my-deaf-child-two-vietnamese-mothers-tell-their-stories"
                                   style="font-weight: bold; font-size: 22px;">Hành
                                    trình lớn với con: Câu chuyện của 2 người mẹ của trẻ Điếc ở Việt Nam</a></h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Hành trình&nbsp;<em><span style="color: rgb(51, 51, 51);">dự án “Giáo dục trẻ Điếc trước tuổi đến trường” – IDEO</span></em>&nbsp;hỗ
                                trợ con học ngôn ngữ ký hiệu của 2 người mẹ có con sinh ra là trẻ Điếc.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services section-bg" id="services-1"
                 style="background: rgb(255,255,255);margin-bottom: -61px;margin-top: 2px;padding-top: 1px;">
            <div class="card" style="margin-bottom: 22px;">
                <div class="card-body"
                     style="margin-top: 1px;padding-top: 0px;margin-bottom: -2px;padding-bottom: 1px;"><h4
                        class="card-title" style="font-family: Merriweather, serif;font-weight: bold;">Các hoạt động xã
                    hội</h4></div>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row" style="margin-left: -16px;padding-right: 0px;margin-right: -26px;">
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;margin-left: -5px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/HTAT.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;margin-top: 14px;padding-bottom: 22px;margin-bottom: -7px;padding-top: 24px;">
                                <a href="https://baodautu.vn/hanh-trinh-am-thanh-2021-huong-ve-nguoi-khiem-thinh-d141072.html"
                                   style="font-weight: bold; font-size: 22px;">Hành trình âm thanh 2021</a></h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Nhân ngày Người khuyết tật Việt Nam (18/04/2021) Hội Cha mẹ trẻ khiếm thính và Người
                                khiếm thính Việt Nam (VNAP HLC) tổ chức chương trình “Hành trình âm thanh 2021”</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/KNTL.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 7px;margin-top: 25px;">
                                <a href="https://baophapluat.vn/ky-niem-tuan-le-nguoi-diec-2021-chung-toi-co-ngon-ngu-cua-minh-post414886.html"
                                   style="font-weight: bold; font-size: 22px;">Kỷ niệm Tuần lễ Người Điếc 2021</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Chi hội Người Điếc Hà Nội tổng kết hoạt động hưởng ứng Tuần lễ Người Điếc 2021 trong nỗ
                                lực hòa nhập đầy đủ và đóng góp với cộng đồng</p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/TLHS.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 8px;margin-top: 26px;">
                                <a href="https://baobariavungtau.com.vn/xa-hoi/202305/truyen-ngon-lua-nhiet-huyet-den-hoc-sinh-khiem-thinh-978208/"
                                   style="font-weight: bold; font-size: 22px;">Truyền ngọn lửa nhiệt huyết đến học sinh khiếm thính</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Các bạn HS Trường Nuôi dạy trẻ khuyết tật tỉnh được hòa mình trong không khí vui tươi,
                                ấm áp, gắn kết tình yêu thương khi tham gia chương trình chia sẻ truyền cảm hứng với chủ
                                đề “Khát vọng không lời” do Tập đoàn SCG chủ trì tổ chức.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services section-bg" id="services-2"
                 style="background: rgb(255,255,255);margin-bottom: 2px;padding-bottom: 0px;">
            <div class="card" style="margin-bottom: 22px;">
                <div class="card-body"
                     style="margin-top: 1px;padding-top: 0px;margin-bottom: -2px;padding-bottom: 1px;"><h4
                        class="card-title" style="font-family: Merriweather, serif;font-weight: bold;">Những câu chuyện
                    khác</h4></div>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row" style="margin-left: -16px;padding-right: 0px;margin-right: -26px;">
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;margin-left: -5px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/TLND.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;margin-top: 14px;padding-bottom: 22px;margin-bottom: -7px;padding-top: 24px;">
                                <a href="https://tokyolife.vn/blog/2022/11/23/toi-la-nguoi-diec-dung-goi-toi-la-nguoi-khiem-thinh/"
                                   style="font-weight: bold; font-size: 22px;">"Tôi là người Điếc, đừng gọi tôi là người khiếm thính"</a>
                            </h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;"></p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;margin-left: -5px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/QTX.jpg"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;margin-top: 14px;padding-bottom: 22px;margin-bottom: -7px;padding-top: 24px;">
                                <a href="https://halotravel.vn/quan-cua-thoi-thanh-xuan/"
                                   style="font-weight: bold; font-size: 22px;">Quán
                                    của thời thanh xuân – chốn bình yên của mảnh đời không trọn vẹn</a></h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Quán của thời thanh xuân được dựng nên nhằm mang tính nhân văn, xây dựng một môi trường
                                làm việc giúp cho các bạn trẻ không may mắn bị khiếm thính, khiếm thị có những trải
                                nghiệm thú vị về nghề nghiệp.</p></div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-5 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="300" style="width: 437px;">
                        <div class="icon-box" style="padding-bottom: 52px;margin-bottom: 78px;">
                            <div class="icon"
                                 style="width: 370px;height: 200px;border-radius: 15px;padding-right: 11px;">
                                <picture style="width: 370px;border-radius: 15px;"><img height="80" src="/static/img/social and culture/DT.png"
                                                                                        style="width: 370px;height: 230px;border-radius: 15px;"
                                                                                        width="100">
                                </picture>
                            </div>
                            <h4 class="title"
                                style="font-weight: bold;padding-bottom: 22px;margin-bottom: -7px;padding-top: 7px;margin-top: 25px;">
                                <a href="https://phunuvietnam.vn/diem-tua-binh-yen-cua-nguoi-khiem-thinh-44686.htm"
                                   style="font-weight: bold; font-size: 22px;">Điểm
                                    tựa bình yên của người khiếm thính</a></h4>
                            <p class="description" style="font-family: Lora, serif;font-size: 16px;font-style: italic;">
                                Nhằm chia sẻ khó khăn, giúp tạo việc làm có thu nhập để người khiếm thính ổn định cuộc
                                sống, 3 cô gái ở Hà Nội đã cùng sáng lập Sen handmade by deaf (SEN) (Xưởng thủ công của
                                những người điếc).</p></div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- End: Features Cards -->
</section>
{% endblock %}