{% extends 'base_course.html' %}

{% block title %} Hồ sơ {% endblock %}

{% block login_buttons %}
    {% if session.user_is_logged_in %}
        <a class="btn btn-primary" href="{{ url_for('logout_page') }}" role="button"
           style="font-size: 14px;font-family: Inter, sans-serif;border-radius: 10px;margin-left: -1px;padding-left: 9px;padding-right: 10px;color: rgb(255,255,255);">
            Đăng xuất
        </a>
    {% else %}
        {{ super() }} <!-- Giữ nguyên nội dung của block cha (base.html) -->
    {% endif %}
{% endblock %}

{% block main %}
<main class="main" id="main">
    <div class="pagetitle"><h1>Hồ sơ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('home_page') }}"><span>Trang chủ</span></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('course_page_vn') }}"><span>Khoá học</span></a>
                </li>
                <li class="breadcrumb-item active">Kiểm tra ký hiệu</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center profile-card pt-4"><img
                            alt="Profile"
                            class="rounded-circle"
                            src="/static/img/Blue%20Modern%20Technology%20Business%20Presentation.png?h=1e2a74d1ac3992771d850702428269f1">
                        <h2>Họ và tên: {{ user.full_name }}</h2>
                        <h3>Email: {{ user.email }}</h3>
                        <span style="color: red"> {{ error }} </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
